@{
    ViewBag.Title = "Home Page";
}


  
    <h3> <b>Reception</b> </h3>
    <nav class="navbar navbar-default ">
        <ul class="">
            <li><a href="@Url.Action("Login","User")">User</a></li>
            <li ><a href="@Url.Action("Login","Admin")">Admin</a></li>
        </ul>

    </nav>

       
    

    
    <div>
        <img src="~/image/c_43070-l_3-k_reception_470x373_imag1236.jpg" width="1140" height="373" class="well " />
    </div>
